.alertOverlay {
    position: fixed;
    top: 33.5rem;
    left:30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .alertBox {
    background: #f1fdaf98;
    padding: 1rem;
    border: .15rem solid rgb(124, 177, 1);
    box-shadow: .2rem .2rem .25rem rgba(46, 66, 0, 0.822);
    text-align: center;
    max-width: 30rem;
    width: 19rem;
  }
  
  .alertMessage {
    font-family: 'Montserrat';
    font-size: .9rem;
    font-weight: 500;
    color: rgb(124, 177, 1);
  }

  