.mainContainerGenerate {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--third-bg);
    width: 21rem;
    height: 3.75rem;
    cursor: pointer;
}

.buttonNameGenerate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainTitleButtonGenerate {
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: 900;
    color: var(--secundary-letters);
    user-select: none;
    letter-spacing: .2rem;
}
