.rowData{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2.5rem;
    margin-right: .5rem;
    padding-bottom: 2rem;
    justify-content: space-between;
    color: var(--primary-letters);
}

.titleData{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.5rem;
    padding-right: 2rem;
}

.inputData{
    font-size: 1rem;
    color: var(--primary-letters);
    width: 16rem;
    border: none;
    border-bottom: .15rem solid var(--primary-letters);
    background-color: transparent;
    letter-spacing: .1rem;
}

.inputData:focus{
    outline: none;
    color: var(--primary-letters);
    font-size: 1rem;
    letter-spacing: .1rem;
}