.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--third-bg);
    width: 23rem;
    height: 3.75rem;
    cursor: pointer;
}

.buttonName {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainTitleButton {
    font-family: 'Montserrat';
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--secundary-letters);
    user-select: none;
    letter-spacing: .2rem;
}
